/* Estilos del navbar */
#menu {
    background-color: transparent !important; /* Ajuste para que el navbar sea transparente */
}
.navbar-nav {
    margin-left: auto; /* Mover los elementos del navbar a la derecha */
}
.navbar-toggler {
    color: var(--white) !important; /* Cambiar el color del icono del botón del navbar */
}
/* Estilos Inside Menu Lateral */

/* .offcanvas-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.offcanvas-header .contenedor_logo {
  width: 50%;
  margin-inline: auto;
}
.offcanvas-header img {
  width: 100%;
} */